.App {
  text-align: center;
}
.logo > img{
  width: 150px;
  height: auto;
}
.carousel-item > img { 
  width: 100vw;
  height: auto;
  padding-bottom: 2rem;
}

.search-bar{
  border: solid 1px #b8b5b3;
  width: 70vw;
  box-shadow: 5px 3px 7px #efefef;
  font-size: 1.2rem;

  
}
.search-button{
  background-color: #b8b5b3;
  border: solid 1px #b8b5b3;
  color: white;
  box-shadow: 5px 3px 7px #efefef;
  font-size: 1.2rem;
}

.card {
 min-width: 150px;
 height: 220px;
 margin-bottom: 1.5rem;
 box-shadow: 0 1px 1px 1px lightgre#efefef;
}
.card-body {
  font-size: .9rem;
  text-align: right;
  padding: .5rem;

}

