.App {
  text-align: center;
}
.logo > img{
  width: 150px;
  height: auto;
}
.carousel-item > img { 
  width: 100vw;
  height: auto;
  padding-bottom: 2rem;
}

.search-bar{
  border: solid 1px #b8b5b3;
  width: 70vw;
  box-shadow: 5px 3px 7px #e8dad5;
  font-size: 1.2rem;

  
}
.search-button{
  background-color: #b8b5b3;
  border: solid 1px #b8b5b3;
  color: white;
  box-shadow: 5px 3px 7px #e8dad5;
  font-size: 1.2rem;
}

